@import '../../../../../core/styles/theme';

.container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
  border-bottom: 1px solid $grey-200;
}

.title {
  @include md {
    font-size: 2.25rem;
    line-height: 1.2;
  }
  margin-bottom: 0.5em;

  font-weight: 700;
  font-size: 1.875rem;
  line-height: 1.33;
  cursor: pointer;
}
