.release-time-container {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 2rem;
}

.tag-stack {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;

  margin-bottom: 1rem;
}
