@charset "utf-8";

@import 'theme';

$green: $brand-green;

@import '../../node_modules/bulma/bulma.sass';

.flex {
  display: flex;

  &-col {
    flex-direction: column;
  }
}

.align-center {
  align-items: center;
}

.justify {
  &-between {
    justify-content: space-between;
  }

  &-evenly {
    justify-content: space-evenly;
  }

  &-center {
    justify-content: center;
  }
}

.gap {
  &-2 {
    gap: 0.5rem;
  }

  &-4 {
    gap: 1rem;
  }
}

.m {
  &t {
    &-55 {
      margin-top: 2.5rem;
    }
  }
}

.has-text {
  &-grey-900 {
    color: $grey-900 !important;
  }
}

h1,
h2,
h3,
h4,
h5 {
  font-family: $font-heading;
  line-height: 1;
}

body {
  font-family: $font-body;
}
