.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 0;
}

.main {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 0;
  font-size: 4em;
  line-height: 1.15;
}
